<h1>HEYY its the admin panel</h1>

<div class="full">
	<h3>Quicklinks</h3>
	<ul>
		<li>
			<%= link_to "pages", pages_path %>
		</li>
		<li>
			<%= link_to "categories", categories_path %>
		</li>
		<li>
			<%= link_to "portfolio", items_path %>
		</li>
	</ul>
</div>